@import 'vars';
@import 'mixins';

.root {
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.218;
  color: $color-blue-gigas;
}