@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';


*{
  font-family: $font-family-main;
  font-weight: $font-weight-main;
  font-style: $font-style-main;
  -webkit-font-smoothing: antialiased;
}


html, body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $color-white-alabaster;
}

.root{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}