@import 'mixins';

*{
  margin: 0;
  padding: 0;

  outline: none;
  list-style: none;
  background: none;
  border: none;
  box-sizing: border-box;

  text-decoration: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;

  @include unSelectable;
}


input, textarea, h1, h2, h3, h4, h5, h6, p, span, label{
  @include selectable;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}